extends ../layout

block content
  header
      .header-content
        .header-content-inner
          h1#homeHeading Your Favorite Pictures stored in one place
          hr
          p
            | Start Start using insta application right now!
          
          a.btn.btn-primary.btn-xl(href='/login') Log in
          a.btn
          a.btn.btn-primary.btn-xl(href='/register') Register
